
.root {
    max-width: 345;
    margin-bottom: 5px;
}

.media {
    height: 0px;
    padding-top: '56.25%';
}

.expand {
    transform: rotate(0deg);
    margin-left: auto;

}
  
.expandOpen {
    transform: rotate(180deg);
}

.MuiTypography-h5 {
    font-size: 1.25rem!important;
}

.MuiTypography-body1 {
    font-size: .9rem!important;
}

.MuiCardHeader-root {
    padding: 12px!important;
}

.MuiCardActions-root {
    float: right;
    padding: 0px;
    padding-right: 2px!important;
}

.MuiIconButton-root {
    padding: 0px;
}