@import url('https://fonts.googleapis.com/css?family=Neuton');

.root {
    margin-bottom: 5px;
    background-color: #202125!important;
}

.expand {
    transform: rotate(0deg);
    margin-left: auto;

}

.card_action_root {
    margin-top: -12px;
}

.card_ingredients_list {
    list-style-position: inside;
}

.card_content {
    font-family: Neuton;
    color: white;
}

.card_image_grid {
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

.recipe_button {
    float: right;
}

.MuiIconButton-root {
    color: white!important;
}


.card_recipe_image {
    height: 100px;
    width: 100px;
    /* object-fit: cover; */
    border-radius: 50%;
    border: 2px solid white;
}


@media only screen and (max-width: 900px) {
    .card_info_section {
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .ingredients_section {
        margin-bottom: 10px!important;
    }
}

.card_info_section {
    color: white;
    font-family: Neuton;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}

.card_title {
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.card_source {
    text-decoration: none;
    font-size: 0.8rem;
    color: white;
}

.media {
    height: 140px!important;
    width: 140px!important;
    padding-top: '56.25%'!important;
}

.expandOpen {
    transform: rotate(180deg);
}

.MuiTypography-h5 {
    font-size: 1.25rem!important;
}

.MuiTypography-body1 {
    font-size: .9rem!important;
}

.MuiCardHeader-root {
    padding: 12px!important;
}

.MuiCardActions-root {
    float: right;
    padding-right: 2px!important;
    padding-bottom: 0px!important;
    padding-left: 0px!important;
    padding-top: 0px!important;
}

.MuiIconButton-root {
    padding: 0px!important;
}