#recipe {
    margin-left: 5%;
    margin-right: 5%;
}

.title {
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}

.link {
    color: grey;
    text-decoration: none;
}

.section_header {
    font-size: 1.75rem;
}

.body {
    font-size: 1.1rem;
    font-weight: 350;
}

.source {
    text-align: right;
    text-decoration: none;
    color: grey;
}