#recipe {
    margin-left: 15%;
    margin-right: 15%;
}

.title {
    font-weight: 400;
    font-size: 1.9rem;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.section_header {
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 10px;
}

.body {
    font-size: 1.25rem;
    font-weight: 300;
}

.source {
    text-align: right;
}

.link {
    text-decoration: none;
    color: black;
    font-size: .75rem;
    font-weight: 300;
}