@import url('https://fonts.googleapis.com/css?family=Neuton');

#recipe {
    margin-left: 20%;
    margin-right: 20%;
}

@media only screen and (max-width: 1280px) {

    #recipe {
        margin-left: 12%;
        margin-right: 12%;
    }

    .title_section {
        margin-top: 5%!important;
        margin-bottom: 5%!important;
    }

    .recipe_image {
        height: 300px!important;
        width: 300px!important;
    }
}

@media only screen and (max-width: 900px) {
    #recipe {
        margin-left: 7%;
        margin-right: 7%;
    }


    .recipe_image {
        height: 200px!important;
        width: 200px!important;
    }

    /* .title_section {
        margin-top: 15%!important;
        margin-bottom: 15%!important;
    } */
}

@media only screen and (max-width: 550px) {
    #recipe {
        margin-left: 3%;
        margin-right: 3%;
    }
    .title_section {
        margin-top: 0%!important;
        margin-bottom: 0%!important;
    }

    .recipe_image {
        height: 150px!important;
        width: 150px!important;
    }
}

.page_container {
    margin-top: 20px;
}

.title_section {
    color: white;
    font-family: Neuton;
    text-align: center;
    margin-top: 30%;
    margin-bottom: 30%;
}

.title {
    font-weight: 400;
    font-size: 2.8rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.prep_time {
    font-size: 1.2rem;
}

.image_grid {
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    padding-bottom: 10px;
}

.recipe_image {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;
}


.section_header {
    font-size: 2.0rem;
    font-weight: 400;
    font-family: Neuton;
    color: white;
}

.body {
    font-size: 1.25rem;
    font-weight: 350;
    font-family: Nueton;
    color: lightgray;
}

.ingredients_list {
    list-style-position: inside;
}

.source {
    text-decoration: none;
    font-size: 1rem;
    color: white;
}