.spinner svg {
    margin: 0 auto;
    display: block;
}

.link {
    font-family: 'Verdana';
    color: #484848;
    text-decoration: none;
}

.recipe_title_line {
    line-height: 1.5;
    list-style-type: circle;
}